<!-- Footer -->
<div class="footer-curve white">
  <section>
    <div class="width100per" style="border-bottom: 1px solid">
      <div class="container">
        <div class="row upfoot">
          <div class="col-md-3 col-sm-3 rightbor">
            <a href="#"
              ><i class="fa fa-info-circle" aria-hidden="true"></i> Request
              Demo</a
            >
          </div>
          <div class="col-md-3 col-sm-3 rightbor">
            <a target="_blank" href=""
              ><i class="fa fa-users"></i> Be Our Partner</a
            >
          </div>
          <div class="col-md-3 col-sm-3 rightbor">
            <a href=""><i class="fa fa-phone"></i> Support Desk </a>
          </div>
          <div class="col-md-3 col-sm-3 rightbor danrightbor">
            <a href=""><i class="fa fa-support"></i> Testimonial</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-curve white">
      <section>
        <div class="container">
          <div class="row footer-about-company-row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
              <div class="footer-about-company">
                <h2 style="margin-top: 34px; font-size: 23px; color: white">
                  About Dataman
                </h2>
                <ul
                  class="colorwhite"
                  style="list-style: none; margin-left: 0px"
                >
                  <li>* 30+ years of escalation</li>
                  <li>
                    * Partner with Microsoft since 2006 for their Large Business
                    solutions
                  </li>
                  <li>
                    * Team of approx. 200+ technical persons with experience of
                    various business domains
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
              <div class="row footer-contact-row">
                <div
                  class="col-xs-12 col-sm-5 col-md-5 col-lg-5"
                  style="border-right: 1px solid"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="footer-two"
        style="border-top: 1px solid #0a4875; margin-top: 20px"
      >
        <div class="container">
          <div class="row">
            <div
              class="col-md-7 col-sm-12 col-xs-12 footer-two-center"
              style="text-align: right; margin-top: 5px"
            >
              <p style="margin-top: 0">
                © Copyright 2021 Computer Systems Pvt Ltd. All Rights Reserved.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
