<div class="">
  <div id="animate-area">
    <div class="main-1">
      <h1>WE <span>ENGINEER</span></h1>
      <h1>IN</h1>
      <h1>{{ display }}</h1>

      <div class="row">
        <div class="col-md-4">
          <h3>About Us</h3>
          <hr />
          <p>
            DATAMAN is a leading software company that specializes in providing
            flexible business-oriented solutions to our customers across the
            globe.
          </p>
          <button class="badge badge bg-primary">To Know More</button>
        </div>
        <div class="col-md-4">
          <h3>Products</h3>
          <hr />
          <p>
            We offer custom-made software development services. Our specialists’
            proficiency in cutting-edge technologies, tools and services ensures
            that we create software products that are fully tailored to meet
            your unique business needs.
          </p>
        </div>
        <div class="col-md-4">
          <h3>Services</h3>
          <hr />
          <p>
            We endeavor to provide innovative services that will contribute
            substantially to our customer’s success. We provide all of our
            clients results through a short-release development cycle.
          </p>
          <button class="badge badge bg-primary">To Know More</button>
        </div>
      </div>
    </div>
  </div>
  <div id="img-main-2">
    <div class="main-2">
      <h1>STOCK AND COMMODITY MARKET – STRATEGIC TRADING SYSTEM</h1>
      <ul>
        <li>Trailing Stop Loss</li>
        <li>Volatility</li>
        <li>Arbitrage</li>
        <li>Option(Butterfly, Box Spread)</li>
      </ul>
    </div>
  </div>
  <div id="img-main-3">
    <div class="main-3">
      <h1>
        MICROSOFT DYNAMICS – NAV, CRM,<br />
        SHAREPOINT & AZURE
      </h1>
      <p>
        We help clients to transform their business processes and information
        <br />
        systems with industry solutions built on the Microsoft Platform.
      </p>
    </div>
  </div>
  <div id="img-main-4">
    <div class="main-4">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-user-friends"></i>
          <p>27+</p>
          <p>Years of Experience</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-users"></i>
          <p>5000</p>
          <p>Satisfied Client</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-universal-access"></i>
          <p>1000+</p>
          <p>Projects Done</p>
        </div>
      </div>
    </div>
  </div>
  <div id="img-main-5">
    <div class="main-5">
      <form class="responsive">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <textarea name="Your Message" id="" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
