<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid navbar-margin">
    <div
      class="pull-right"
      style="position: absolute; right: 56px; top: -1px; z-index: 9"
    >
      <a
        href="http://web.dataman.in/DatamanControlPanel"
        style="color: #388ce8; /* background: aquamarine; */ font-weight: 700"
        >Employee Portal</a
      >
    </div>
    <a class="navbar-brand" href="#"
      ><img
        src="https://zimwebtech.com/assets/images/media/012.png"
        alt="logo"
        class="logo-img"
    /></a>
    <button
      id="menu-toggle"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Outsourcing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Technology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Government Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Support Desk</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Reach us
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Request Demo</a></li>
            <li><a class="dropdown-item" href="#">Contact Us</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
